.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--v-theme-primary);
}

.login-box {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 400px;
}

.login-box:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.title {
  color: var(--v-theme-on-accent);
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  background-color: var(--v-theme-surface);
  border-radius: 8px;
  margin-bottom: 20px;
}

.login-btn {
  background-color: var(--v-theme-primary);
  color: var(--v-theme-on-primary);
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.switch-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--v-theme-on-accent);
  margin-top: 20px;
}

.register-btn {
  margin-left: 10px;
  color: var(--v-theme-secondary);
}
